<!DOCTYPE html>
<html>
<head>
    <title>Add Ratchet</title>
</head>
<body>
    <h1>Add Ratchet</h1>
    <form method="POST">
        <label for="ratchet_name">Ratchet Name:</label><br>
        <input type="text" id="ratchet_name" name="ratchet_name" required><br><br>

        <label for="ratchet_protrusions">Number of Protrusions:</label><br>
        <input type="number" id="ratchet_protrusions" name="ratchet_protrusions" required><br><br>

        <label for="ratchet_height">Height:</label><br>
        <input type="number" id="ratchet_height" name="ratchet_height" required><br><br>

        <label for="ratchet_weight">Weight:</label><br>
        <input type="number" step="0.1" id="ratchet_weight" name="ratchet_weight"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
